<h3>All Questions</h3>
</br>
<a href="/questions/new">New Question</a>
<ul>
  <% @questions.each do |question| %>
    <li><a href="/questions/<%= question.id %>"><%= "#{question.title}" %></a></li>
  <% end %>
</ul>
